.input {
  background: var(--input-bg);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

.input input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  background: transparent;
  color: var(--text-color);
}
