.todoContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.taskBox {
  background: white;

  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 0;
}

.bottomBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  font-size: 14px;
  color: hsl(236, 9%, 61%);
  background: white;
  border-top: 1px solid hsl(233, 11%, 84%);
}
