.todoContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.light .taskBox {
  background: white;
  color: black;
}

.dark .taskBox {
  background: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
}

.taskBox {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.light .bottomBar {
  background: white;
  border-top: 1px solid hsl(233, 11%, 84%);
}

.dark .bottomBar {
  background: hsl(235, 24%, 19%);
  border-top: 1px solid hsl(233, 14%, 35%);
  color: hsl(234, 39%, 85%);
}

.bottomBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  font-size: 14px;
}

.mobileFilters {
  display: none;
}

@media (max-width: 768px) {
  .bottomBar .filterContainer {
    display: none;
  }

  .mobileFilters {
    display: flex;
    justify-content: center;
    background: inherit;
    padding: 16px;
    border-radius: 8px;
    margin-top: 16px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  }
}
