.container {
  padding-top: 24px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  background: white;
  padding: 18px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.circle {
  width: 20px;
  height: 20px;
  border: 2px solid #b1b6be;
  border-radius: 50%;
  margin-right: 12px;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: #374151;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 4px;
}
