.container {
  padding-top: 24px;
}

.light .inputWrapper {
  background: white;
}

.light .input {
  color: #374151;
}

.light .input::placeholder {
  color: #9ca3af;
}

.dark .inputWrapper {
  background: hsl(235, 24%, 19%);
}

.dark .input {
  color: hsl(234, 39%, 85%);
}

.dark .input::placeholder {
  color: hsl(233, 14%, 35%);
}

.inputWrapper {
  display: flex;
  align-items: center;
  padding: 18px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.circle {
  width: 20px;
  height: 20px;
  border: 2px solid #b1b6be;
  border-radius: 50%;
  margin-right: 12px;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 4px;
}
