.footer {
  background: var(--list-bg);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  font-size: 0.875rem;
  color: var(--text-color);
  border-top: 1px solid hsl(233, 11%, 84%);
  border-radius: 0 0 5px 5px;
}

.filters {
  display: flex;
  gap: 0.5rem;
}

.filters button {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.filters button:hover,
.filters .active {
  opacity: 1;
}

.footer button {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  opacity: 0.6;
}

.footer button:hover {
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  font-size: 0.875rem;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .filters {
    order: 2;
    margin-top: 1rem;
  }
}
