.appBackground {
  height: 300px;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.light {
  background-image: url("./assets/images/bg-desktop-light.jpg");
}

.dark {
  background-image: url("./assets/images/bg-desktop-dark.jpg");
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  transform: translateY(-229px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  color: white;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 8px;
}

.themeIcon {
  cursor: pointer;
}

@media (max-width: 768px) {
  .appBackground {
    height: 200px;
  }

  .light {
    background-image: url("./assets/images/bg-mobile-light.jpg");
  }

  .dark {
    background-image: url("./assets/images/bg-mobile-dark.jpg");
  }

  .container {
    transform: translateY(-190px);
  }
}
