.appBackground {
  height: 300px;
  background-image: url("./assets/images/bg-desktop-light.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
}

.header {
  color: white;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 8px;
  margin-bottom: 8px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  transform: translateY(-229px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 1;
}
