.listContainer {
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
}

.light {
  background: white;
}

.light .taskItem {
  border-bottom: 1px solid #eee;
}

.light .taskItem:hover {
  background-color: #fafafa;
}

.light .taskText {
  color: #333;
}

.dark {
  background: hsl(235, 24%, 19%);
}

.dark .taskItem {
  border-bottom: 1px solid hsl(233, 14%, 35%);
}

.dark .taskItem:hover {
  background-color: hsl(235, 21%, 24%);
}

.dark .taskText {
  color: hsl(234, 39%, 85%);
}

.dark .completed .taskText {
  color: hsl(233, 14%, 35%);
}

.taskItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.taskItem:last-child {
  border-bottom: none;
}

.circle {
  width: 20px;
  height: 20px;
  border: 1px solid #777;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.checkedCircle {
  background: linear-gradient(135deg, #57ddff, #c058f3);
  border: none;
}

.checkIcon {
  width: 12px;
}

.taskText {
  flex: 1;
  font-size: 1rem;
  transition: color 0.2s;
}

.completed .taskText {
  text-decoration: line-through;
}

.deleteButton {
  background: none;
  border: none;
  color: #999;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.2s;
}

.deleteButton:hover {
  color: #c058f3;
}
